<div class='ribbon'>
    <span class='ribbon-button-alignment'><span class='btn btn-ribbon module-ribbon' ng-click='goPrevious()'><i class='fa fa-arrow-circle-left'></i></span></span>
    <ol class='breadcrumb'>
        <li>My Approvals</li>
    </ol>
</div>
<div class='content'>
    <div ng-form name='mainform'>
        <div class='button-holder'>
            <ol class='breadcrumb'>
                <li><button type='button' class='btn btn-primary' ng-form-new mid='8070' mtype='3'><i class='fa fa-file-o'></i>New</button></li>
                <li><button type='button' class='btn btn-primary refreshbg' ng-click='Refresh()'><i class='fa fa-refresh'></i>Refresh</button></li>
            </ol>
        </div>
        <div class='clear'></div>
        <div ng-model='tabs.activeTab' bs-tabs>
            <div title='General' name='master_8038' ng-form bs-pane>
                <div class='form_template form-horizontal'>
                    <fieldset>
                        <br />
                        <div class='col-sm-12'>
                            <div class='form-group' ng-class="{ 'has-error' : master_8038.ID.$invalid && mainform.$submitted }">
                                <label style='border-right:1px dashed #ddd;' class='control-label  col-md-2 bold'>ID<span class='required'>* </span></label>
                                <div class='col-md-10'>
                                    <input type="text" name="ID" placeholder="ID" required disabled class=" form-control" ng-model=" Master.ID" />
                                    <div class='note note-error' ng-show='master_8038.ID.$error.required && mainform.$submitted'>ID is required.</div>
                                </div>
                            </div>
                            <div class='form-group' ng-if='false'>
                                <label style='border-right:1px dashed #ddd;' class='control-label  col-md-2 bold'>ID_Name<span class='required'>* </span></label>
                                <div class='col-md-10'>
                                    <input type="hidden" name="ID_Name" class="form-control" ng-model="Master.ID_Name" />
                                    <div class='note note-error' ng-show='master_8038.ID_Name.$error.required && mainform.$submitted'>ID_Name is required.</div>
                                </div>
                            </div>
                            <div class='form-group' ng-if='false'>
                                <label style='border-right:1px dashed #ddd;' class='control-label  col-md-2 bold'>ID_Approver</label>
                                <div class='col-md-10'><input type="hidden" name="ID_Approver" class="form-control" ng-model="Master.ID_Approver" /></div>
                            </div>
                            <div class='form-group'>
                                <label style='border-right:1px dashed #ddd;' class='control-label  col-md-2 bold'>Name</label>
                                <div class='col-md-10'><input type="text" name="Name" placeholder="Name" disabled class=" form-control" ng-model=" Master.Name" /></div>
                            </div>
                            <div class='form-group' ng-class="{ 'has-error' : master_8038.ID_Employee.$invalid && mainform.$submitted }">
                                <label style='border-right:1px dashed #ddd;' class='control-label  col-md-2 bold'>Employee<span class='required'>* </span></label>
                                <div class='col-md-10'>
                                    <select name="ID_Employee" ng-options=" item.ID as item.Name for item in dropdown_source[9204]" required disabled class="form-control" ng-model="Master.ID_Employee" ng-init="Master.ID_Employee" =d ropdown_source[9204][0]><option value="">- Select -</option></select>
                                    <div class='note note-error' ng-show='master_8038.ID_Employee.$error.required && mainform.$submitted'>Employee is required.</div>
                                </div>
                            </div>
                            <div class='form-group' ng-class="{ 'has-error' : master_8038.StartDate.$invalid && mainform.$submitted }">
                                <label style='border-right:1px dashed #ddd;' class='control-label  col-md-2 bold'>StartDate<span class='required'>* </span></label>
                                <div class='col-md-10'>
                                    <div class='input-group'><input type="text" name="StartDate" placeholder="StartDate" required disabled bs-datepicker data-container="body" date-to-iso date-format="MM/dd/yyyy" class="form-control" ng-model="Master.StartDate" /><span class='input-group-addon'><i class='fa fa-calendar'></i></span></div>
                                    <div class='note note-error' ng-show='master_8038.StartDate.$error.required && mainform.$submitted'>StartDate is required.</div>
                                </div>
                            </div>
                            <div class='form-group' ng-class="{ 'has-error' : master_8038.EndDate.$invalid && mainform.$submitted }">
                                <label style='border-right:1px dashed #ddd;' class='control-label  col-md-2 bold'>EndDate<span class='required'>* </span></label>
                                <div class='col-md-10'>
                                    <div class='input-group'><input type="text" name="EndDate" placeholder="EndDate" required disabled bs-datepicker data-container="body" date-to-iso date-format="MM/dd/yyyy" class="form-control" ng-model="Master.EndDate" /><span class='input-group-addon'><i class='fa fa-calendar'></i></span></div>
                                    <div class='note note-error' ng-show='master_8038.EndDate.$error.required && mainform.$submitted'>EndDate is required.</div>
                                </div>
                            </div>
                            <div class='form-group' ng-class="{ 'has-error' : master_8038.ID_FilingStatus.$invalid && mainform.$submitted }">
                                <label style='border-right:1px dashed #ddd;' class='control-label  col-md-2 bold'>Filing Status<span class='required'>* </span></label>
                                <div class='col-md-10'>
                                    <select name="ID_FilingStatus" ng-options=" item.ID as item.Name for item in dropdown_source[9207]" required disabled class="form-control" ng-model="Master.ID_FilingStatus" ng-init="Master.ID_FilingStatus" =d ropdown_source[9207][0]><option value="">- Select -</option></select>
                                    <div class='note note-error' ng-show='master_8038.ID_FilingStatus.$error.required && mainform.$submitted'>Filing Status is required.</div>
                                </div>
                            </div>
                            
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>