<div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        <span class="fa fa-List"></span>Set New Password
    </h4>
</div>
<div style="height:116px;" class="modal-body">
    <div class="form_template form-horizontal">
        <div class="form-group col-md-12">
            <label class="control-label col-md-3 bold">Password</label>
            <div class="col-md-9">
                <input type="password" name="NewPassword" placeholder="New Password" class="form-control" ng-model="Data.Password" />
            </div>
        </div>
    </div>
    <div class="form_template form-horizontal">
        <div class="form-group col-md-12">
            <label class="control-label col-md-3 bold">Confirm Password</label>
            <div class="col-md-9">
                <input type="password" name="NewPassword" placeholder="New Password" class="form-control" ng-model="Data.ConfirmPassword" />
            </div>
        </div>
    </div>
</div>
<div class="PassError">
    {{PasswordError}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ChangePass()">Go</button>
</div> 
