<div class="modal-header">
    <h4 class="modal-title">
        <span class="fa fa-key"></span> Password
    </h4>
</div>
<div class="modal-body clearfix" style="max-height: 1200px;">
    <div class="form_template form-horizontal">
        <div class="form-group col-md-12" style="display: grid;">
            <label class="control-label bold">Input Account Password</label>
            <div class="">
                <input type="password" name="Password" placeholder="Password" class="form-control" ng-model="Master.Password" required/>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="submit" class="btn btn-primary" ng-click="Okay()">Okay</button>
</div>